/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin-top: 50px;
	padding: 0;
	background: #e6e6e6; /* url(images/img01.jpg) repeat-x left top;*/
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
	color: #5C5C5C;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
}

h1 {
}

h2 {
}

/* , ul, ol */
p, ul, ol {
	margin: 0 0 2em 0;
	text-align: justify;
	line-height: 26px;
	list-style: none;
}


a {
	color: #5C5C5C;
	text-decoration:none
}

a:hover, a:active {
	text-decoration: none;
	color: #5C5C5C;
}

a:visited {
	color: #5C5C5C;
}

img {
	border: none;
}

img.left {
	float: left;
	margin-right: 15px;
}

img.right {
	float: right;
	margin-left: 15px;
}

/* Form */

form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

legend {
	display: none;
}

input, textarea, select {
	font-size: 13px;
	color: #333333;
	border-radius:5px;
	padding: 7px;
  	border: solid 1px #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
}

input[type="submit"],input[type="button"] {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  transition: none;
}

input:hover[type="submit"],input:hover[type="button"] {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

input:focus, textarea:focus, select:focus {
  border: solid 1px #3498db;
  outline-width: 0;
  box-shadow: 0 0 5px 1px #969696;
}

#wrapper {
	width: 1150px;
	margin: 0 auto;
	padding: 0;
	/* background: url(images/img02.jpg) no-repeat left top; */
	border:2px solid #5C5C5C;
	border-radius:10px;
	background: #ffffff;
}

/* Header */

#header {
	width: 1100px;
	margin: 0 auto;
	height: 170px;
}

/* Menu */

#menu {
	width: 1100px;
	height: 50px;
	margin: 0 auto;
	background: url(images/img03.jpg) repeat-x left top;
		/* Border Radius Style */
	border-radius: 5px;

	/* Mozilla Firefox Extension */
	-moz-border-radius: 5px;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	float: left;
	height: 50px;
	background: url(images/img04.jpg) no-repeat right top;
}

#menu a {
	display: block;
	padding: 12px 20px 0px 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 11px;
	color: #FFFFFF;
}

#menu a:hover { 
	color: #FFFFFF;
}

#menu .current_page_item a {
	color: #FFFFFF;
}

#menu .context a {
	color: #AAAAAA;
}
/** LOGO */

#logo {
	width: 1100px;
	height: 130px;
	margin: 0 auto;
}

#logo h1, #logo h2 {
	float: left;
	margin: 0;
	text-transform: uppercase;
	line-height: normal;
}

#logo h1 {
	padding: 40px 0 40px 180px;
	font-size: 24px;
	background: url(images/logo.png) no-repeat 0px 0px;
}

#logo h1 a {
	text-decoration: none;
	color: #BA9F5A; 
}

#logo h1 a:hover { text-decoration: underline; }

#logo h2 {
	padding: 50px 0 0 5px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #28313A;
}

#logo p a {
	text-decoration: none;
	color: #28313A;
}

#logo p a:hover { text-decoration: underline; }



/* Page */

#page {
	width: 1100px;
	margin: 0 auto;
	padding: 20px 20px;
	min-height: 500px;
}

/* Content */

#content {
	float: left;
	width: 1100px;
	border-right: 1px dashed #DFE1E0;
}


/* Post */

.post {
	padding: 0px 20px;
	margin-bottom: 20px;
}

.post .title {
	margin-bottom: 20px;
	padding-bottom: 5px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	color: #28313A; 
}

.post .entry {
}

.post .meta {
	padding: 15px 15px 30px 0px;
	font-size: 10px;
}

.post .meta p {
	margin: 0;
	padding-top: 15px;
	line-height: normal;
	color: #28313A; 
}

.post .meta .byline {
	float: left;
}

.post .meta .links {
	float: right;
}

.post .meta .more {
	padding: 0 20px 0 18px;
}

.post .meta .comments {
	padding-left: 22px;
}

.post .meta b {
	display: none;
}


/* Sidebar */

#sidebar {
	float: right;
	width: 230px;
	margin: 0;
	padding: 0;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin-bottom: 40px;
}

#sidebar li ul {
}

#sidebar li li {
	margin: 0;
}

#sidebar h2 {
	width: 250px;
	margin: 0;
	padding: 0;
	background: url(images/img07.jpg) no-repeat left top;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	color: #28313A; 
}

/* Search */

#search {

}

#search h2 {
	margin-bottom: 20px;
}

#s {
	width: 140px;
	margin-right: 5px;
	padding: 3px;
	border: 1px solid #DFE1E0;
}

#x {
	padding: 3px;
	border: none;
	background: #0A5688;
	text-transform: lowercase;
	font-size: 11px;
	color: #FFFFFF;
}

/* Boxes */

.box1 {
	padding: 20px;
}

.box2 {
	color: #BABABA;
}

.box2 h2 {
	margin-bottom: 15px;
	font-size: 16px;
	color: #FFFFFF;
}

.box2 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.box2 a:link, .box2 a:hover, .box2 a:active, .box2 a:visited  {
	color: #EDEDED;
}

/* Footer */
#footer-wrap {
}

#footer {
	width:auto;
	margin-left: 1180px;
	position: fixed;
    bottom: 0;
	margin-bottom:0px;
	padding:0px;
	padding-bottom: 0px;
}

html>body #footer {
	height: auto;
}

#footer p {
	font-size: 10px;
}

#legal {
	clear: both;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	color: #595959;
}

#legal a {
	font-weight: normal;
}

#hor-minimalist-b
{
	border-collapse: collapse;
	text-align: left;
	transition: background 0.3s;
}
#hor-minimalist-b th
{
	padding: 10px 8px;
	border-bottom: 2px solid #5C5C5C;
}
#hor-minimalist-b td
{
	border-bottom: 1px solid #ccc;
	color: #5C5C5C;
}

#hor-minimalist-b tbody tr:hover td
{
	background: #def0fd;
	transition: background 0.3s;
}

#hor-minimalist-b ul {
	margin: 0 0 0 0;
	text-align: justify;
	line-height: 17px;
	list-style: disc;
	list-style-position: outside;
	padding-left: 1.5em;
}
#hor-minimalist-b ol {
	margin: 0 0 2em 0;
	text-align: justify;
	line-height: 17px;
	list-style: decimal;
	list-style-position: outside;
	padding-left: 1.5em;
}

#hor-minimalist-c
{
	border-collapse: collapse;
	text-align: left;
	transition: background 0.3s;
}
#hor-minimalist-c th
{
	padding: 10px 8px;
	border-bottom: 2px solid #5C5C5C;
}
#hor-minimalist-c td
{
	border-bottom: 1px solid #ccc;
	color: #5C5C5C;
}
#hor-minimalist-c ul {
	margin: 0 0 0 0;
	text-align: justify;
	line-height: 17px;
	list-style: disc;
	list-style-position: outside;
	padding-left: 1.5em;
}
#hor-minimalist-c ol {
	margin: 0 0 2em 0;
	text-align: justify;
	line-height: 17px;
	list-style: decimal;
	list-style-position: outside;
	padding-left: 1.5em;
}

#progressbar {
	width:100px;
	padding:1px;
	background-color:white;
	border:1px solid lightgray;
	height:10px;
}
#indicator {
	width:0px;
	background-image:url("images/shaded-gray.png");
	height:10px;
	margin:0;
}

#corners {
	/* width: 500px; */
	margin: 0px auto;
	background-color: #fafaff;
	border:1px solid #6699ff;
	
	padding: 10px;

	/* Border Radius Style */
	border-radius: 5px;

	/* Mozilla Firefox Extension */
	-moz-border-radius: 5px;
}

#legend {
	font-size: 11px;
	font-weight: bold;
	color: #3f3f3f;
	text-transform: uppercase;
	text-decoration: none;
    padding:5px;
	padding-left: 20px;
	padding-right: 20px;
    margin-top:-22px;
    margin-left:5px;
	width: fit-content;
	display: table;
    background-color: #99ccff;
	border:1px solid #6699ff;
	
	/* Border Radius Style */
	border-radius: 5px;

	/* Mozilla Firefox Extension */
	-moz-border-radius: 5px;
}

#userinfo {
	font-size: 10px;
	
    padding:1px;
	padding-right: 5px;
	padding-left: 5px;
	float:right;
    margin-top:-67px;
    margin-right: 20px;
	width: fit-content;
	display: table;
	
    background-color: #F8F8FF;
	border:1px solid #C0C0C0;
	
		/* Border Radius Style */
	border-radius: 5px;

	/* Mozilla Firefox Extension */
	-moz-border-radius: 5px;
	
	
}

#criteres {
	font-size: 12px;
	
    padding:1px;
	padding-right: 5px;
	padding-left: 5px;
	float:right;
    margin-top:-24px;
    margin-right: 20px;
	width: fit-content;
	display: table;
    background-color: #F8F8FF;
	border:1px solid #C0C0C0;
	
		/* Border Radius Style */
	border-radius: 5px;
	/* Mozilla Firefox Extension */
	-moz-border-radius: 5px;
}

#circlered {
	font-size: 10px;
  background: #F8E0E0;
   border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #000000;
  display: inline-block;
  line-height: 1.5em;
  margin-right: 7px;
  text-align: center;
  width: 1.5em; 
}
#circleredsel {
	font-size: 10px;
	border:1px solid black;
  background: #F8E0E0;
   border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #000000;
  display: inline-block;
  line-height: 1.5em;
  margin-right: 7px;
  text-align: center;
  width: 1.5em; 
}

#circle {
	font-size: 10px;
   border:1px solid lightgray;
   border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #000000;
  display: inline-block;
  line-height: 1.5em;
  margin-right: 7px;
  text-align: center;
  width: 1.5em 
}

#circlesel {
	font-size: 10px;
   border:1px solid black;
   border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #000000;
  display: inline-block;
  line-height: 1.5em;
  margin-right: 7px;
  text-align: center;
  width: 1.5em; 
}

#compImg {
    padding:1px;
	padding-right: 5px;
	padding-left: 5px;
	max-height: 150px;
	width: auto;
	max-width: 240px;
    background-color: #FFFFFF;
	border:1px solid #C0C0C0;
		/* Border Radius Style */
	border-radius: 5px;
	/* Mozilla Firefox Extension */
	-moz-border-radius: 5px;
	position: absolute;
	/*box-shadow: 5px 5px 10px lightgrey;*/
}
#compImgList {
    padding:1px;
	padding-right: 5px;
	padding-left: 5px;
	max-height: 45px;
	width: auto;
	max-width: 72px;
    background-color: #FFFFFF;
	border:1px solid #C0C0C0;
		/* Border Radius Style */
	border-radius: 5px;
	/* Mozilla Firefox Extension */
	-moz-border-radius: 5px;
	/*box-shadow: 5px 5px 10px lightgrey;*/
}
#studentImg {
    padding:5px;
	padding-right: 5px;
	padding-left: 5px;
	max-height: 300px;
	width: auto;
	max-width: 150px;
    background-color: #FFFFFF;
	border:1px solid #C0C0C0;
		/* Border Radius Style */
	border-radius: 5px;
	/* Mozilla Firefox Extension */
	-moz-border-radius: 5px;
	/*box-shadow: 5px 5px 10px lightgrey;*/
}

#hideMe {
	padding:1px;
	padding-right: 5px;
	padding-left: 5px;
	float:right;
    margin-top:5px;
    margin-left:200px;
	width: fit-content;
	display: table;
    background-color: #FFFFFF;
	border:1px solid #C0C0C0;
	/* Border Radius Style */
	border-radius: 5px;
	/* Mozilla Firefox Extension */
	-moz-border-radius: 5px;
	position: absolute;
	/*box-shadow: 5px 5px 10px lightgrey;*/
    -webkit-animation: cssAnimation 2s forwards; 
    animation: cssAnimation 2s forwards;
}
@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}


